extends ../layouts/layout.pug

block content
  h1= title
  time= h().date.format(date, 'MMMM Do YYYY')
  //- time= h('date.format')(date, 'MMMM Do YYYY')
  //- time= h('date.format', date, 'MMMM Do YYYY')
  div!= contents
